*{
    box-sizing: border-box;
    margin: 0;
}

body{

}

.red-square{
    display: flex;
    flex-direction: row;
    justify-content: center; /* Aligns based on flex-direction
    align-items: center    Aligns opposite of flex-direction */
    height: 400px;
    width: 600px;
    background-color: red;
}

.green-square{
    height:250px;
    width: 450px;
    background-color:green
}

.white-circle{

}

.green-circle{

}
.france {
    position: relative; 
    /* relateive so we can position children absolute inside */
    height: 200px;
    margin: auto;
    /* margin auto to center the flag */
    width: 35%;
    padding: 20px
}
/* this selector is for every div that is a child of .france */
.france div {
    width: 33%;
    height: 200px;
    position: absolute;
}
/* Select blue, and tell it to be all the way to the left, and red all the way to the right */
.france .blue {
    left: 0;
    background-color: blue;
}
.france .red {
    right: 0;
    background-color: red;  
}
.germany {
    position: relative; 
    /* relateive so we can position children absolute inside */
    height: 210px;
    margin: auto;
    /* margin auto to center the flag */
    width: 38%;
    background-color: red;
    
}
/* this selector is for every div that is a child of .france */
.germany div {
    width: 100%;
    height: 70px;
    position: absolute;
}
/* Select blue, and tell it to be all the way to the left, and red all the way to the right */
.germany .black {
    top: 0;
    background-color: black;
}
.germany .yellow {
    bottom: 0;
    background-color: yellow;
}
/* Styling for Madagascar Flag */
.madagascar {
    position: relative; 
    height: 210px;
    margin: auto;
    width: 38%;      
}
.madagascar div {
    width: 100%;
    height: 70px;
    position: absolute;  
    margin-top: 20px  
}
.madagascar .red {
    top: 0;
    background-color: red;
}
.madagascar .green {
    bottom: 0;
    background-color:green;
}
